@import '../../styles/_variables.scss';

.basket {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);

  &__img {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    z-index: 20;
    margin-right: 0.5rem;
  }

  &__count {
    position: absolute;
    font-size: 15px;
    background: $primary-color;
    color: $white-color;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
